<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link href="styles/bootstrap.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1 class="h1">Hello this is an about page!</h1><br><br>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste quos consequuntur corrupti enim iure
                    accusantium a et nemo excepturi amet, placeat aspernatur soluta illum recusandae ex obcaecati
                    laudantium labore explicabo, ratione ducimus! Voluptatum aliquid ab odio ipsam error, natus, minus
                    ex delectus debitis ullam asperiores tempora saepe, eius perferendis. Error officiis velit ipsam
                    expedita doloribus sit autem fugit porro, quidem numquam. Tenetur magnam dolores, fugit beatae
                    praesentium perspiciatis eligendi! Autem in perspiciatis nam accusantium voluptatum, nostrum ea
                    porro voluptas atque recusandae voluptatibus laboriosam pariatur architecto incidunt quam cum, et
                    obcaecati totam dolor itaque facere dicta perferendis? Eum, id placeat. Optio dolorum aliquam omnis
                    expedita error ullam quo saepe consequuntur iste dicta soluta quod, in quia iusto voluptatibus
                    consectetur quas aperiam? Doloremque distinctio maiores voluptas, molestiae, voluptatem placeat cum
                    rem laboriosam, nostrum dignissimos modi ipsa? Ipsa aspernatur, aut sit deserunt nemo ab officiis
                    ipsum et, sint nesciunt assumenda, doloribus numquam iure!</p>
                    <img src="/images/meme.jpg">
            </div>
        </div>
        <div class="row">
            <h2> This is another description of our company</h2>   
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eaque omnis ratione soluta deserunt commodi molestias asperiores quaerat necessitatibus error quo, nostrum rem. Corporis repellat deserunt distinctio, eaque praesentium ut sit iusto modi odit velit. Id alias cum minus eius illum nihil consectetur architecto sunt, blanditiis animi repellendus aperiam totam pariatur! Veritatis quam aliquid distinctio, reiciendis est quas sequi delectus ipsum sit dolores quo maiores enim repellat hic natus ad nulla sint, expedita provident id.</p>
        </div>

    </div>

</body>

</html>